html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: brown;
    background-image:url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=ecf05e47b9jxs4hrz8rr8lwi2m4rfu0kbk4yp01fmik9e7g6&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
button{
    width: 150px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 80%;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: bolder;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-weight: bolder;
}
nav ul li a::after{
    content:  '';
    width: 0;
    height: 3px;
    background-color: brown;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    font-weight: bold;
}
nav ul li a:hover::after{
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    
}
.container img{
    width: 200%;
  height: 200%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
  border: 2px solid white;

}

.img1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img2{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
.img4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
}
.img5{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img6{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}
.img6:hover{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 1s;
}
.img1:hover{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 1s;
}
.img2:hover{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 0.5s;
}
.img3:hover{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 0.5s;
}
.img4:hover{
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: 0.5s;
}
.img5:hover{
    width: 100px;
    height: 150px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(3);
}